:root {
  --desktop-icon-width: 4.8rem;
  --desktop-icon-background-color-hover: 170, 207, 222;
  --desktop-icon-background-color-hover-alpha: 0.1804;
  --desktop-icon-background-color-select: 147, 203, 228;
  --desktop-icon-background-color-select-alpha: 0.41;
  --desktop-icon-background-color-select-hover: 101, 163, 220;
  --desktop-icon-background-color-select-hover-alpha: var(
    --desktop-icon-background-color-select-alpha
  );
  --desktop-icon-border-color: var(--desktop-icon-background-color-hover);
  --desktop-icon-border-color-alpha: 0.5;
  --desktop-icon-inner-image-width: 3.1875rem;
  --desktop-icon-inner-image-height: var(--desktop-icon-inner-image-width);
}
