.folder-quick-access-custom-scrollbar::-webkit-scrollbar {
  width: 15px;
}

.folder-quick-access-custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.folder-quick-access-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
}

.folder-quick-access-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(122, 122, 122);
}

.folder-quick-access-custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgb(166, 166, 166);
}
